<header class="mb-auto">
    <div>
        <a href="/" class="float-md-start mb-0 navbar-brand h3 text-dark">Shorten</a>
    </div>
    <div>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" id="myurls" href="#myUrls" data-bs-toggle="offcanvas" aria-controls="myurls">My URLs</a>
            {% if current_user.is_anonymous %}
            <a class="nav-link" id="signup" href="/register">Sign Up</a>
            <a class="nav-link" id="signin" href="/login">Sign In</a>
            {% else %}
            <a class="nav-link" id="logut" href="/logout">Sign Out</a>
            {% endif %}
        </nav>
        
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="myUrls" aria-labelledby="myurls">
        <div class="offcanvas-header">
            <div><button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button></div>
        </div>
        <div class="offcanvas-body">
            <h5 class="offcanvas-title" id="myurlslabel">My URLs</h5>
            <hr>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            
            <div id="urls"></div>
        </div>
    </div>
</header>