{% extends 'base.html' %}

{% block content %}
<div class="container my-auto">
    <div class="row">
        <div class="col-sm-4 my-auto mx-6">
            <div class="card">
                <div class="card-body">
                    <form id="shorten-form" class="row g-3">
                        <div class="w-100">
                            <label for="long-url" class="form-label text-dark h5">Enter a long URL</label>
                            <input type="text" class="form-control" id="long-url" required>
                            <div id="long-url-feedback"></div>
                        </div>
                        <div class="w-10">
                            <label for="alias" class="form-label text-dark h5">Enter a custormised short</label>
                            <input type="text" class="form-control" id="alias">
                            <div id="alias-feedback"></div>
                        </div>
                        <button id="submit" class="w-100 btn btn-dark fw-bold" type="submit">Shorten</button>
                    </form>
                    <form id="result" class="row g-3 d-none">
                        <div class="w-100">
                            <label for="long-url" class="form-label text-dark h6">Your long URL</label>
                            <input type="text" class="form-control" id="long-url-output" readonly>
                        </div>
                        <div class="w-10">
                            <label for="short-url" class="form-label text-dark h6">Short URL</label>
                            <input type="text" class="form-control" id="short-url" readonly>
                        </div>
                        <div class="w-100">
                            <a href="" target="_blank" id="visit" type="button" class="btn btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<span class='dark'>Visit URL</span>" ><i class="bi bi-forward-fill"></i></a>
                            <a type="button" id="email-share" class="btn btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<span class='dark'>Email</span>" ><i class="bi bi-envelope-fill"></i></a>
                            <span id="qrcode" style="display:none"></span>
                            <button type="button" id="qr-share" class="btn btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<span class='dark'>QR Code</span>" ><i class="bi bi-qr-code"></i></button>
                            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenu2" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false" data-bs-toggle-second ="tooltip" data-bs-placement="top" data-bs-html="true" title="<span class='dark'>Share on social media</span>">Share</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><a class="dropdown-item" id="facebook-share" target="_blank" rel="noopener noreferrer" type="button"><i class="bi bi-facebook"></i> Facebook</a></li>
                                <li><a class="dropdown-item" id="twitter-share" target="_blank" rel="noopener noreferrer" data-size="large"  type="button"><i class="bi bi-twitter"></i> Twitter</a></li>
                                <li><a class="dropdown-item" id="whatsapp-share" data-action="share/whatsapp/share" rel="noopener noreferrer" target="_blank type="button"><i class="bi bi-whatsapp"></i> WhatsApp</a></li>
                                <li><a class="dropdown-item" id="linkedIn-share" target="_blank" rel="noopener noreferrer" type="button"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
                                
                            </ul>
                            <button id="copy" type="button" class="btn btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<span class=''>Copy to clipboard</span>" >Copy</button>
                        </div>
                        <div class="w-100">
                            <button id="myUrlsButton" class="w-60 btn btn-outline-dark fw-bold" type="button" data-bs-toggle="offcanvas" data-bs-target="#myUrlsCanvas" aria-controls="myUrlsCanvas">My URLs</button>
                            <div class="offcanvas offcanvas-end" tabindex="-1" id="myUrlsCanvas" aria-labelledby="myurlslabel">
                                <div class="offcanvas-header">
                                    <div><button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button></div>
                                </div>
                                <div class="offcanvas-body">
                                    <h5 class="offcanvas-title" id="myurlslabel">My URLs</h5>
                                    <hr>
                                    <div id="urlsB"></div>
                                </div>
                            </div>
                            <button id="shorten-again" class="w-60 btn btn-dark fw-bold" >Shorten another</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-8 my-auto">
            <h1>Welcome to shorten.</h1>
            <p class="lead">Create a free account to shorten URLs, customise links and generate QR Codes.</p>
            <p class="lead">
                <a href="#" class="btn btn-secondary fw-bold  bg-dark text-white">Get Started for Free</a>
            </p>
        </div>
    </div>
    
</div>

<script src="{{ url_for('static', filename='js/shorten.js') }}"></script>

{% endblock %}